<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_explode_hit_frank001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,640},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,427},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank005.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,640},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,427},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank011.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,214},{212,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,210}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank012.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,214},{212,208}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,208}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank013.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,423},{204,204}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank014.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,425},{198,192}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{198,192}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank015.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,815},{198,186}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{198,186}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank016.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,628},{198,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{198,188}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank017.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,807},{198,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{198,188}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank018.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,618},{198,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{198,188}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank019.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,628},{198,186}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{198,186}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>fx_explode_hit_frank020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,853},{198,170}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{198,170}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_explode_hit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b548f17250bcd10e9031fbb1a01d5b5$</string>
            <key>textureFileName</key>
            <string>fx_explode_hit.png</string>
        </dict>
    </dict>
</plist>
